anndata==0.7.1
argh==0.26.2
attrs==19.3.0
h5py==2.10.0
hachiko==0.3.0
more-itertools==8.2.0
natsort==7.0.1
numpy==1.18.4
packaging==20.0
pandas==1.0.3
pathtools==0.1.2
pluggy==0.13.1
py==1.8.1
pymongo==3.10.1
pyparsing==2.4.6
pytest==5.4.2
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
scipy==1.4.1
six==1.13.0
typeguard==2.7.1
watchdog==0.10.2
wcwidth==0.1.8
